<div class="container">
  <br>
  <div class="row">
    <div class="col-12 col-md-8">


      <div class="h3 text-center">Your cart</div>
      {{#if cart}}
      <table class="table table-hover">
        <thead>
          <tr class="row">
            <th class="col-4 col-md-2 ">Thumbnail</th>
            <th class="d-none d-md-block col-4 ">Title</th>
            <th class="col-4 col-md-2 ">Price</th>
            <th class="col-4 col-md-2">Manage</th>
          </tr>
        </thead>
        <tbody>
          {{#each photos}}
          <tr class="row ">
            <th class="col-4 col-md-2 "><img src="{{fileName}}" alt="Title: {{title}}" class="img-thumbnail"></th>
            <th class="d-none d-md-block col-4 "> {{title}}</th>
            <th class="col-4 col-md-2 ">{{price}}</th>
            <th class="col-4 col-md-2 "><a href="/remove/{{id}}" class="btn btn-danger">Remove</a></th>
          </tr>
          {{/each}}
        </tbody>
      </table>
      {{else}}
      <br>
      <div class="h4 text-center">You don't have any photos in your cart.</div>
      <br>
      <div class="p text-center">Please add some</div>
      {{/if}}
    </div>
    <div class="col-12 col-md-3">
      <div class="container">
        <div class="card">
          <div class="card-header">
            Cart Summary
          </div>
          <div class="card-body">
            <p class="card-text text-muted">Total ({{size}})</p>
            <h5 class="card-title text-right">CAD$ {{total}}</h5>
            <hr>
            <div class="row ">
              <div class="container text-center">
                {{#if cart}}
                  {{#if user}}
                  <form action="/checkout" method="POST">
                    <input type="text" name="id" hidden>
                    <input type="submit" class="btn btn-success form-control"  value="Checkout!">
                  </form>
                  {{else}}
                  <div class="p">To checkout you must login.</div>
                  <br>
                  <div class="p">
                    <a href="/login" class="btn btn-success">Login</a>
                  </div>
                  {{/if}}
                {{/if}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>